* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.preload {
  height: 100vh;
  width: 100%;
  background-color: #f1f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.background-video-section {
  height: 100vh;
  width: 100%;
  position: relative;
}
.background-video-section::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -9;
}
.background-video-section .video-container {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  z-index: -10;
}
.background-video-section h1 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background-video-section .video-btn-container {
  height: 3rem;
  width: 10rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  outline: 2px solid #fa5d5d;
}
.background-video-section .video-btn-container span {
  height: 3rem;
  line-height: 3rem;
  width: 5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #555555;
}
.background-video-section .video-btn-container .btn-switch {
  position: absolute;
  top: 0;
  background-color: #fa5d5d;
}
.background-video-section .video-btn-container .btn-switch-slider {
  left: 50%;
}

.header {
  height: 10vh;
  width: 100%;
  background-color: #FFE3E1;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  display: inline-block;
  margin: auto 5rem;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 500;
  color: #FF8787;
  cursor: pointer;
}
li:focus {
  color: #F8C4B4;
}

.liPreActivate {
  color: red;
}

.btn {
  height: 5vh;
  width: 20%;
  min-width: 15rem;
  background-color: #FF8787;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.btn:hover {
  background-color: #fa5d5d;
}

.colorChangerSection {
  height: 100vh;
  width: 100%;
}

.colorChangerMain {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.colorChangerMain .colorNameBox {
  height: auto;
  min-width: 60%;
  width: auto;
  padding: 3rem 1rem;
  background-color: #FFE3E1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorChangerMain .colorNameBox p {
  display: inline-block;
  font-size: 1.5rem;
  color: #FF8787;
}
.colorChangerMain .colorNameBox .colorText {
  display: inline-block;
  font-size: 1.5rem;
  color: #FF8787;
  padding: 0 1rem;
}
.colorChangerMain .colorNameBox .colorPalate {
  display: inline-block;
  height: 3rem;
  width: 10rem;
  text-align: center;
  line-height: 3rem;
  background: #fff;
}

.counterSection {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  flex-direction: column;
}
.counterSection h1 {
  font-size: 4rem;
  color: #FF8787;
}
.counterSection .counterBtns {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.reviewSection {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.reviewSection .reviewHeading h1 {
  font-size: 2rem;
}
.reviewSection .reviewHeading h1::after {
  content: "";
  display: block;
  border-bottom: 0.3rem solid #F8C4B4;
  width: 65%;
  float: right;
}
.reviewSection .reviewBox {
  height: auto;
  width: 80%;
  max-width: 60rem;
  min-width: 20rem;
  padding: 2rem;
  background-color: rgb(250, 250, 250);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 0.5rem;
}
.reviewSection .reviewBox #personImg {
  height: 10rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.reviewSection .reviewBox #personName {
  font-size: 1.2rem;
  color: #fa5d5d;
}
.reviewSection .reviewBox #personProfession {
  font-size: 1rem;
  color: #FF8787;
}
.reviewSection .reviewBox #reviewText {
  min-width: 15rem;
  max-width: 80%;
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #555555;
}
.reviewSection .reviewBox .reviewBtnContainer {
  display: flex;
  gap: 1rem;
}
.reviewSection .reviewBox .reviewBtnContainer .btn {
  font-size: 2rem;
  min-width: 3rem;
  height: 2rem;
  line-height: 2rem;
}

.questionSection {
  height: 100vh;
  width: 100%;
  margin: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  gap: 1rem;
  transition: 0.3s;
}
.questionSection .questionSectionHeading {
  width: 80%;
  max-width: 60rem;
  font-size: 1.5rem;
  text-align: center;
  color: #FF8787;
  margin: 3rem auto;
}
.questionSection .questionContainer {
  height: auto;
  width: 80%;
  max-width: 60rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: rgb(250, 250, 250);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}
.questionSection .questionContainer .questionBox {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.questionSection .questionContainer .questionBox .question {
  color: #222222;
  font-size: 1.5rem;
}
.questionSection .questionContainer .questionBox .questionBtnContainer .questionBtn {
  height: 100%;
  width: 1.2rem;
  color: #FF8787;
  background: none;
  border: none;
  outline: none;
}
.questionSection .questionContainer .questionBox .questionBtnContainer .questionBtn img {
  height: 1.2rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s;
}
.questionSection .questionContainer .questionBox .questionBtnContainer .questionBtn img:hover {
  height: 1.3rem;
}
.questionSection .questionContainer .answereBox {
  margin-top: 0.5rem;
  height: 0;
  visibility: hidden;
}
.questionSection .questionContainer .answereBox hr {
  border: 1px solid #FF8787;
  width: 10%;
  color: #999999;
  margin-bottom: 1rem;
}
.questionSection .questionContainer .answereBox .answere {
  font-size: 0.875rem;
  color: #555555;
}
.questionSection .showAnswere .answereBox {
  height: auto;
  visibility: visible;
}
.questionSection .showAnswere .questionBtn img {
  transform: rotate(180deg);
}

#menu-section {
  min-height: 100vh;
  width: 80%;
  max-width: 90rem;
  min-width: 50rem;
  margin: auto;
  text-align: center;
}
#menu-section .menu-heading {
  margin: 5rem auto;
}
#menu-section .menu-heading h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #333333;
  display: inline;
  position: relative;
}
#menu-section .menu-heading h1::after {
  content: "";
  height: 0.2rem;
  width: 50%;
  display: inline-block;
  background: #F8C4B4;
  border-radius: 2rem;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
}
#menu-section .menu-filter-btn-container {
  height: auto;
  width: 100%;
  gap: 1rem;
}
#menu-section .menu-filter-btn-container .btn {
  position: inherit;
  width: auto;
  padding: 0 0.5rem;
  margin: 0 0.3rem;
  min-width: 0;
  margin-top: 0;
  transition: 0.3s;
  background-color: #fff;
  color: #555555;
}
#menu-section .menu-filter-btn-container .btn:hover {
  color: #fff;
  background-color: #FF8787;
  outline: 1px solid #FF8787;
}
#menu-section .menu-filter-btn-container .active-btn {
  color: #fff;
  background-color: #FF8787;
  outline: 1px solid #FF8787;
}
#menu-section .menu-card-container {
  height: auto;
  width: 80%;
  margin: 2rem auto 0;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-content: space-between;
}
#menu-section .menu-card-container .menu-card {
  height: 12rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#menu-section .menu-card-container .menu-card:hover {
  transform: scale(1.05);
}
#menu-section .menu-card-container .menu-card .food-img-section {
  height: 100%;
  width: 30%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.05);
}
#menu-section .menu-card-container .menu-card .food-img-section .food-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#menu-section .menu-card-container .menu-card .food-info {
  height: 100%;
  width: 70%;
  padding: 1rem;
}
#menu-section .menu-card-container .menu-card .food-info .food-info-heading {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #333333;
}
#menu-section .menu-card-container .menu-card .food-info .food-description-section {
  margin-top: 1rem;
}
#menu-section .menu-card-container .menu-card .food-info .food-description-section .food-description {
  font-size: 0.875rem;
  color: #555555;
  position: relative;
}
#menu-section .menu-card-container .menu-card .food-info .food-description-section .food-description::before {
  content: "";
  display: block;
  height: 0.05rem;
  width: 100%;
  background-color: #FFE3E1;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .colorNameBox {
    flex-direction: column;
    gap: 1rem;
  }
  #menu-section {
    min-width: 20rem;
  }
  #menu-section .menu-heading {
    margin: 2rem auto 1rem;
  }
  #menu-section .menu-card-container {
    width: 100%;
    grid-template-columns: 1fr;
    justify-content: space-around;
    gap: 1.5rem;
  }
  #menu-section .menu-card-container .menu-card {
    height: auto;
    flex-direction: column;
  }
  #menu-section .menu-card-container .menu-card .food-img-section {
    height: 15rem;
    width: auto;
  }
  #menu-section .menu-card-container .menu-card .food-info {
    height: auto;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */